:root {
    --clr-white: 0 0% 100%;
    --clr-black: 0 0% 0%;
    --clr-accent: 231 77% 90%;
    --clr-dark: 230 35% 7%;
    --clr-red: 347 97% 70%;
    --clr-yellow: 41 100% 70%;
    --clr-green: 120 61% 37%;
    --clr-blue: 225 55% 36%;


    --fs-600: 2rem;/*32 px*/
    --fs-500: 1.5rem;/*24 px*/
    --fs-400: 1.25rem;/*20 px*/
    --fs-300: 0.875rem;/*14 px*/
    --fs-200: 0.75rem;/*12 px*/

    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}